@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600&family=Playfair+Display&family=Poppins:wght@200;300;400&display=swap');

:root{
  --color1: #1512e7;
  --color2: #6f0dca;
  --color3: #020233;
  --color4: #f1356d;
  --color5: #29f722;
  --color6: #f5eef3;
  --color7: #eb0e50;
  --color8: #615a5a;
  --color9: #fceef8;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html,
body{
  scroll-behavior: smooth;
}
.navbar{
  border-bottom: 1px solid #999999;
  height: 60px;
}
.center{
  padding:10px 90px;
}
.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.navbar ul{
  list-style-type: none;
}
.navbar ul li{
  display: inline;
}
.navbar a{
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  color:#fff;
}
.bars{
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.close{
  display: none;
}

.logo span{
  font-size: 40px;
  font-weight: 600;
  color:#fff;
}
/* showcase */
.showcase{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:999px;
  justify-content: center;
  height: 100%;
  text-align: center;
  margin:auto;
}
.showcase h1{
  font-size: 60px;
  letter-spacing: 1px;
  color:#fff;
  font-weight: bold;
  font-family: 'Lato';
  margin:20px 0;
}
.showcase h1 span{
  font-weight:bolder;
  color: var(--color4);
}
.showcase .subtitle{
  font-size: 22px;
  color:lightgray;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.showcase .subtitle span{
  color:rgb(201, 174, 187);;
}
.btn{
  border:none;
  font-size: 17px;
  padding:10px 18px;
  border-radius: 10px;
  letter-spacing: 1px;
  display: flex;
  text-align: center;
  align-items: center;
  background:var(--color4);
  color:#fff;
  margin-bottom: 20px;
  border: 1px solid var(--color4);
  cursor: pointer;
  transition: all 0.3s ease;
}
button.btn:hover{
  background:transparent;
  color:var(--color4);
}

/* About */
.about{
  padding:30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow:hidden;
  background:var(--color6);
}
.about .left {
  width: calc(55% - 20px);
  /* height: 88%; */
  max-height: 500px;
  overflow: hidden;
}
.about .left img{
  width:100%;
  height: 100%;
  border:1px solid #fff;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.about .left img:hover{
  transform: scale(0.99);
}
.about .right{
  width: calc(45% - 20px);
}
.about .right h1{
  font-size:3em;
  font-family: 'tahoma',sans-serif;
  margin:20px 0;
  position: relative;
}
.right h1::after{
  position: absolute;
  content: "";
  top:-40px;
  left:0;
  width:140px;
  height: 2.8px;
  background:var(--color4);
}
.right h3{
  font-size: 23px;
  font-family: 'Lato',sans-serif;
}
.right p{
  margin:20px 0;
  font-size: 19px;
  line-height: 1.6;
  font-weight: 100;
}
.right .btn{
  background:transparent;
  color:var(--color4);
  border:2px solid var(--color4);
}
.right .btn:hover{
  background:var(--color4);
  color:#fff;
}

/* sub page */
.sub-page{
  background:var(--color4);
  width: 100vw;
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.feedback{
  padding:50px 20px;
}
.feedback .top{
  color:#fff;
  font-size: 50px;
}
.feedback .down{
  display: inline-block;
  font-size: 50px;
  margin-top: -30px;
  margin-left:10px;
}
.feedback .text{
  color:var(--color6);
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.7;
  margin: 15px 10px;
  padding: 10px 30px;
  font-family: "Lato";
}
.feedback .person{
  font-size: 22px;
  font-weight: bolder;
  margin:5px 0;
  letter-spacing: 1px;
}
.feedback .title{
  letter-spacing: 1px;
  font-size: 15px;
  font-weight:100;
  color:#ddd8d8;
  font-style: italic;
}
.info{
  display: flex;
  margin-left:20px;
  margin-top: 20px;
  align-items: center;
  overflow:hidden;
}
.feedback .bold{
  font-weight: bold;
}
.info .bg{
  width:100px;
  height:100px;
  border:3px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
}
.info img{
  width:100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* Services */
.services {
  background:var(--color9);
  padding-top: 40px;
}
.service-content{
  margin:50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.services h2{
  font-size: 2em;
  text-align: center;
  margin:40px 0;
  position: relative;
}
.services h2::before{
  content: "";
  position:absolute;
  top:-20px;
  width:120px;
  height: 2.8px;
  border-radius: 2px;
  background:var(--color4);
}
.serv-box{
  text-align: center;
  padding:60px 20px;
  border-radius: 3px;
  box-shadow: 1px 3px 5px rgb(206, 197, 197);
  cursor: pointer;
}
.serv-box h3{
  font-size: 25px;
  margin:10px 0;
  font-family: 'Lato';
}
.serv-box.sp{
  border-bottom: 4px solid var(--color4);
}
.serv-box .icon{
  color:var(--color4);
  font-size: 35px;
}
.serv-box p{
  letter-spacing: 1px;
  font-size: 20px;
  line-height: 1.7;
  color:var(--color8);
}


/* responsive design */


@media only screen and (max-width:768px){
  .center{
    padding:10px 40px;
  }
  .visible{
    display:block;
  }
  .false{
    display: none;
  }
  .navbar .tabs{
    background:var(--color3);
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
  }
  .navbar ul{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar ul a{
    color:#fff;
    margin:15px 0;
    display: block;
    font-size: 22px;
    font-weight: bold;
  }
  .navbar .close{
    color:crimson;
    position: absolute;
    cursor: pointer;
    right: 25px;
    font-size: 30px;
    top:20px;
    display: block;
  }
  /*  showcase */
  .showcase{
    width: 100%;
    height: 100%;
  }
  .showcase h1{
    font-size: 33px;
  }
  .showcase .subtitle{
    font-size: 18px;
  }
  .showcase .btn{
    padding: 9px 10px;
    font-size: 16px;
    border-radius: 10px;
  }

  /* About */
  .about{
    flex-direction: column;
  }
  .about .left{
    width:100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .about .right{
    width:100%;
    margin-top: 30px;
  }
  .about .right h1{
    font-size: 35px;
  }
  .about .right h3{
    font-size: 20px;
    font-weight: 400;
  }
  .about .right p{
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 100;
  }
  .about .right h1::after{
    top:-30px;
  }
  .about button{
    padding:8px 15px;
  }

  /* sub page */
  
  .feedback .text{
    font-size: 23px;
    margin:10px 8px;
  }
  .services{
    padding-top: 25px;
  }
  .serv-box h3{
    font-weight: 500;
    font-weight: 22px;
    color:#000;
  }
}

@media only screen and (max-width:618px){
  .serv-box{
    padding:60px 20px;
  }
  .sub-page.center{
    padding:0;
  }
  .feedback .text{
    margin-left: 0;
    padding:0;
    padding-left: 17px;
    font-size: 19px;
  }
  .feedback .top,
  .feedback .down{
    font-size: 30px;
  }
}

@media only screen and (max-width:430px){
  .info .bg{
    height: 60px;
    width: 60px;
  }
  .feedback .title{
    font-size: 15px;
  }
}