
:root{
  --color1: #1512e7;
  --color2: #6f0dca;
  --color3: #020233;
  --color4: #f1356d;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.home-page{
  background: radial-gradient(rgba(7, 5, 5, 0.808),rgba(39, 34, 34, 0.74)), url('./images/banner1.jpg');
  height:100vh;
  background-position:center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
.navbar{
  padding:10px 90px;
  border-bottom: 3px solid #999999;
  height: 52px;
}
.nav-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navbar ul{
  list-style-type: none;
}
.navbar ul li{
  display: inline;
}
.navbar a{
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  color:#fff;
}
.bars{
  font-size: 30px;
  color: var(--color1);
  display: none;
}
.close{
  display: none;
}

.logo span{
  font-size: 30px;
  font-weight: 600;
  color:var(--color4);
}

/* responsive design */
@media only screen and (max-width:720px){
  .navbar{
    padding:10px 40px;
  }
  .visible{
    display:block;
  }
  .false{
    display: none;
  }
  .navbar .tabs{
    background:#fff;
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    color:#000;
  }
  .navbar ul{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar ul a{
    color:#000;
    margin:15px 0;
    display: block;
    font-size: 22px;
    font-weight: bold;
  }
  .navbar .close{
    color:#000;
    position: absolute;
    right: 25px;
    font-size: 30px;
    top:20px;
    display: block;
  }
}